bin/*.*
bin/aep
obj/*.*
log/*.txt
build/*.*
build
compiler/location.hh
CMakeCache.txt
CMakeFiles/*
INPUT_TESTE
Makefile
aep
cmake_install.cmake
compiler/CMakeFiles/*
compiler/Makefile
compiler/cmake_install.cmake
compiler/libcompiler.a
compiler/position.hh
compiler/scanner.cpp
compiler/stack.hh
compiler/parser.hpp
compiler/parser.cpp
compiler/location.hh
engine/CMakeFiles/*
engine/Makefile
engine/cmake_install.cmake
engine/libengine.a
engine/obj/*.o